body{
font-family: "lato-regular-webfont", Helvetica, Arial, sans-serif;
color: #1c1e1e;
}
#one {
    @include bg-image('../img/jpg/section01-bg.jpg', cover, 0%, no-repeat);
    min-height: 700px;

    &.section {
      position: relative;
      padding: 2rem 0 2rem 0;
    }

    h3 {
      color: #efc441;
      margin-top: 450px;
      text-shadow: 0 0 50px #000, 0 1px 1px rgba(0, 0, 0, 0.49);
    }

    div:nth-child(2) {
        margin-top: 300px;
    }

    .btn {
        padding: 10.5px 12px;
        background-color: #1F9E7A;
        margin-left: -15px;
        margin-right: -52px;
        &:hover {
            background-color: #23B58C;
        }
        >a {
            color: #fff;
        }
    }
}

#two {
    min-height: 640px;
    h2{
      line-height: .5;
    }
    div.well-lg {
        margin: 30px 0 0 90px;
    }
    .glyphicon {
        color: red;
    }
    ul {
      padding-top:20px;
        li {
            padding-bottom: 20px;
            list-style: none;
            position: relative;
            //font: 1.1em lato-bold-webfont;
            &:before {
                background-size: 30px 30px;
                //background-image: url("../img/png/list-checkmark.png");
                position: absolute;
                content: '';
                display: block;
                height: 30px;
                width: 30px;
                left: -55px;
            }
        }
    }
}

.section {
  padding: 2rem 0 8rem 0;
  font-family: lato-light-webfont;
      background-color: #f3f3f3;
  h2 {
    font-size: 57px;
    color: #efc441;
  }

  h3 {
    color: #5a6565;
    font-size: 42px;
    margin-bottom: 1.3rem;
  }

  p {
    font-size: 28px;
    color: #707575;
    line-height: 1.4;
    margin-top: 0;
  }
  .container {
    margin-top: 5rem;
  }
  .container:last-of-type {
    margin-top: 8rem;
  }
}

.usertypes {
  @include bg-image('../img/jpg/bg-usertypes.jpg', cover, 50%, no-repeat);

  &.section .container:last-of-type {
    margin-top: 5rem;
  }

  p {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  h2 { color: #4e809c; }
  h3 { margin-bottom: 1.7rem; }
}

#footer{
  height:50px;
  background-color:#156951;
  color:#fff;
  padding-top: 15px;
}

section {
    min-height: 35em;
    background-color: $section-bg-color;
    font: 1.2em lato-regular-webfont;
}

.divider-wrp {
    background-color: $section-bg-color;
}
p.marketing-quotes-title {
    font-size: xx-large;
    margin-top: 60px;
}
p.marketing-quotes-text {
    font-size: large;
    color: $text-color-even-section;
    margin-top: -26px;
}
p.ask-for-help-title {
    font-size: x-large;
}
#i-need-help-with-wrp {
    width: 430px;
    margin-top: 320px;
    @include MQ(XXS) {
        margin-top: 170px;
    }
    >label {
        font-size: x-large;
        font-weight: normal;
    }
}

p {
    word-break: break-word;
}
input.extra-text-box-style {
    background-color: rgba(255, 255, 255, .6);
    height: 43px;
    font-size: 22px;
}

div.divider {
    height: 0;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
div.divider:after {
    display: inline-block;
    margin: 0 0 11px 30px;
    height: 2px;
    content: " ";
    text-shadow: none;
    background-color: #efc441;
    width: 45%;
}
div.divider:before {
    display: inline-block;
    margin: 0 30px 11px 0;
    height: 2px;
    content: " ";
    text-shadow: none;
    background-color: #efc441;
    width: 45%;
}

.hexagon {
  position: absolute;
  width: 30px;
  height: 17.32px;
  background-color: #efc441;
  margin: 8.66px 0;
  left: 50%;
  top: -15px;
  transform: translate(-50%);
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  left: 0;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 8.66px solid #efc441;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 8.66px solid #efc441;
}

/*************************************************
**********font formats ************
**************************************************/
@font-face {
    font-family: lato-regular-webfont;
    src: url("../fonts/lato-regular-webfont.ttf") format('ttf'), url("../fonts/lato-regular-webfont.eot") format('eot'), url("../fonts/lato-regular-webfont.woff") format('woff'), url("../fonts/lato-regular-webfont.woff2") format('woff2'), url("../fonts/lato-regular-webfont.svg") format('svg');
}
@font-face {
    font-family: lato-black-webfont;
    src: url("../fonts/lato-black-webfont.ttf") format('ttf'), url("../fonts/lato-black-webfont.eot") format('eot'), url("../fonts/lato-black-webfont.woff") format('woff'), url("../fonts/lato-black-webfont.woff2") format('woff2'), url("../fonts/lato-black-webfont.svg") format('svg');
}
@font-face {
    font-family: lato-bold-webfont;
    src: url("../fonts/lato-bold-webfont.ttf") format('ttf'), url("../fonts/lato-bold-webfont.eot") format('eot'), url("../fonts/lato-bold-webfont.woff") format('woff'), url("../fonts/lato-bold-webfont.woff2") format('woff2'), url("../fonts/lato-bold-webfont.svg") format('svg');
}
@font-face {
    font-family: lato-light-webfont;
    src: url("../fonts/lato-light-webfont.ttf") format('ttf'), url("../fonts/lato-light-webfont.eot") format('eot'), url("../fonts/lato-light-webfont.woff") format('woff'), url("../fonts/lato-light-webfont.woff2") format('woff2'), url("../fonts/lato-light-webfont.svg") format('svg');
}
