.section {
  padding: 2rem 0 8rem 0;
  font-family: lato-light-webfont;
  h2 {
    font-size: 57px;
    color: #efc441;
  }

  h3 {
    color: #5a6565;
    font-size: 42px;
    margin-bottom: 1.3rem;
  }

  p {
    font-size: 28px;
    color: #707575;
    line-height: 1.4;
    margin-top: 0;
  }
  .container {
    margin-top: 5rem;
  }
  .container:last-of-type {
    margin-top: 8rem;
  }
}
