$even-section-bg-color: #f9faf9;
$navbar-link-color: #338473;
$text-color-even-section: #605f5f;
$text-color-odd-section: #bac9d3;
$yellow: #f0ad4e;
$white-low: #fefefe;
$XXS : 480px;
$XS: 767px;
$S : 991px;
$M : 1999px;
$L : 1920px;
