/********************* Media Query Mixin ****************/
/* line 1, ../sass/partials/_basic.scss */
body {
  font-family: "lato-regular-webfont", Helvetica, Arial, sans-serif;
}

/* line 4, ../sass/partials/_basic.scss */
#one {
  background-image: url("../img/jpg/section01-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  min-height: 700px;
}
@media only screen and (max-width: 480px) {
  /* line 4, ../sass/partials/_basic.scss */
  #one {
    min-height: 900px;
  }
}
/* line 10, ../sass/partials/_basic.scss */
#one div:nth-child(2) {
  margin-top: 300px;
}
/* line 13, ../sass/partials/_basic.scss */
#one .input-group {
  margin: 0 auto;
}
/* line 15, ../sass/partials/_basic.scss */
#one .input-group .form-control {
  text-align: center;
}
/* line 19, ../sass/partials/_basic.scss */
#one .btn {
  padding: 10.5px 12px;
  background-color: #1F9E7A;
  margin-left: -15px;
  margin-right: -52px;
}
/* line 24, ../sass/partials/_basic.scss */
#one .btn:hover {
  background-color: #23B58C;
}
/* line 27, ../sass/partials/_basic.scss */
#one .btn > a {
  color: #fff;
}
/* line 31, ../sass/partials/_basic.scss */
#one .row {
  padding-top: 60px;
}
/* line 34, ../sass/partials/_basic.scss */
#one p#main-marketing-quote {
  margin-top: -10px;
}

/* line 38, ../sass/partials/_basic.scss */
#two {
  min-height: 640px;
}
/* line 40, ../sass/partials/_basic.scss */
#two h2 {
  line-height: .5;
}
/* line 43, ../sass/partials/_basic.scss */
#two div.well-lg {
  margin: 30px 0 0 90px;
}
/* line 46, ../sass/partials/_basic.scss */
#two .glyphicon {
  color: red;
}
/* line 49, ../sass/partials/_basic.scss */
#two ul {
  padding-top: 20px;
}
/* line 51, ../sass/partials/_basic.scss */
#two ul li {
  padding-bottom: 20px;
  list-style: none;
  position: relative;
}
/* line 56, ../sass/partials/_basic.scss */
#two ul li:before {
  background-size: 30px 30px;
  position: absolute;
  content: '';
  display: block;
  height: 30px;
  width: 30px;
  left: -55px;
}

/* line 69, ../sass/partials/_basic.scss */
#three {
  min-height: 550px;
}
/* line 71, ../sass/partials/_basic.scss */
#three .container {
  margin-top: 60px;
}
/* line 74, ../sass/partials/_basic.scss */
#three img.img-fluid {
  max-width: 50%;
}

/* line 79, ../sass/partials/_basic.scss */
#four .container {
  margin-top: 60px;
}
/* line 82, ../sass/partials/_basic.scss */
#four div.well {
  background-color: #fefefe;
  border-color: #eee;
}
/* line 86, ../sass/partials/_basic.scss */
#four img.img-fluid {
  max-width: 50%;
}

/* line 90, ../sass/partials/_basic.scss */
#footer {
  height: 50px;
  background-color: #156951;
  color: #fff;
  padding-top: 15px;
}

/* line 97, ../sass/partials/_basic.scss */
section {
  min-height: 35em;
  background-color: #f9faf9;
  font: 1.2em lato-regular-webfont;
}

/* line 103, ../sass/partials/_basic.scss */
.divider-wrp {
  background-color: #f9faf9;
}

/* line 106, ../sass/partials/_basic.scss */
p.marketing-quotes-title {
  font-size: xx-large;
  margin-top: 60px;
}

/* line 110, ../sass/partials/_basic.scss */
p.marketing-quotes-text {
  font-size: large;
  color: #605f5f;
  margin-top: -26px;
}

/* line 115, ../sass/partials/_basic.scss */
p.ask-for-help-title {
  font-size: x-large;
}

/* line 118, ../sass/partials/_basic.scss */
#i-need-help-with-wrp {
  width: 430px;
  margin-top: 320px;
}
@media only screen and (max-width: 480px) {
  /* line 118, ../sass/partials/_basic.scss */
  #i-need-help-with-wrp {
    margin-top: 170px;
  }
}
/* line 124, ../sass/partials/_basic.scss */
#i-need-help-with-wrp > label {
  font-size: x-large;
  font-weight: normal;
}

/* line 130, ../sass/partials/_basic.scss */
p {
  word-break: break-word;
}

/* line 133, ../sass/partials/_basic.scss */
input.extra-text-box-style {
  background-color: rgba(255, 255, 255, 0.6);
  height: 43px;
  font-size: 22px;
}

/* line 139, ../sass/partials/_basic.scss */
div.divider {
  height: 2px;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* line 147, ../sass/partials/_basic.scss */
div.divider:after {
  display: inline-block;
  margin: 0 0 11px 30px;
  height: 2px;
  content: " ";
  text-shadow: none;
  background-color: #efc441;
  width: 45%;
}

/* line 156, ../sass/partials/_basic.scss */
div.divider:before {
  display: inline-block;
  margin: 0 30px 11px 0;
  height: 2px;
  content: " ";
  text-shadow: none;
  background-color: #efc441;
  width: 45%;
}

/* line 166, ../sass/partials/_basic.scss */
.hexagon {
  position: absolute;
  width: 30px;
  height: 17.32px;
  background-color: #efc441;
  margin: 8.66px 0;
  left: 50%;
  top: -15px;
  transform: translate(-50%);
}

/* line 177, ../sass/partials/_basic.scss */
.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  left: 0;
}

/* line 187, ../sass/partials/_basic.scss */
.hexagon:before {
  bottom: 100%;
  border-bottom: 8.66px solid #efc441;
}

/* line 192, ../sass/partials/_basic.scss */
.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 8.66px solid #efc441;
}

/*************************************************
**********font formats ************
**************************************************/
@font-face {
  font-family: lato-regular-webfont;
  src: url("../fonts/lato-regular-webfont.ttf") format("ttf"), url("../fonts/lato-regular-webfont.eot") format("eot"), url("../fonts/lato-regular-webfont.woff") format("woff"), url("../fonts/lato-regular-webfont.woff2") format("woff2"), url("../fonts/lato-regular-webfont.svg") format("svg");
}
@font-face {
  font-family: lato-black-webfont;
  src: url("../fonts/lato-black-webfont.ttf") format("ttf"), url("../fonts/lato-black-webfont.eot") format("eot"), url("../fonts/lato-black-webfont.woff") format("woff"), url("../fonts/lato-black-webfont.woff2") format("woff2"), url("../fonts/lato-black-webfont.svg") format("svg");
}
@font-face {
  font-family: lato-bold-webfont;
  src: url("../fonts/lato-bold-webfont.ttf") format("ttf"), url("../fonts/lato-bold-webfont.eot") format("eot"), url("../fonts/lato-bold-webfont.woff") format("woff"), url("../fonts/lato-bold-webfont.woff2") format("woff2"), url("../fonts/lato-bold-webfont.svg") format("svg");
}
@font-face {
  font-family: lato-light-webfont;
  src: url("../fonts/lato-light-webfont.ttf") format("ttf"), url("../fonts/lato-light-webfont.eot") format("eot"), url("../fonts/lato-light-webfont.woff") format("woff"), url("../fonts/lato-light-webfont.woff2") format("woff2"), url("../fonts/lato-light-webfont.svg") format("svg");
}
/* line 17, ../sass/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 33, ../sass/partials/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 46, ../sass/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 54, ../sass/partials/_normalize.scss */
[hidden] {
  display: none;
}

/* line 67, ../sass/partials/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 77, ../sass/partials/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 87, ../sass/partials/_normalize.scss */
body {
  margin: 0;
}

/* line 103, ../sass/partials/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 109, ../sass/partials/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 122, ../sass/partials/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 127, ../sass/partials/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 132, ../sass/partials/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 137, ../sass/partials/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 142, ../sass/partials/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 147, ../sass/partials/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 154, ../sass/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 160, ../sass/partials/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 166, ../sass/partials/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 173, ../sass/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 179, ../sass/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 186, ../sass/partials/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/* line 195, ../sass/partials/_normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 208, ../sass/partials/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 219, ../sass/partials/_normalize.scss */
q {
  quotes: none;
}

/* line 226, ../sass/partials/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 232, ../sass/partials/_normalize.scss */
small {
  font-size: 75%;
}

/* line 239, ../sass/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 247, ../sass/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 251, ../sass/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 261, ../sass/partials/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 270, ../sass/partials/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 277, ../sass/partials/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/* line 287, ../sass/partials/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 304, ../sass/partials/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 313, ../sass/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 323, ../sass/partials/_normalize.scss */
figure {
  margin: 0;
}

/* line 333, ../sass/partials/_normalize.scss */
form {
  margin: 0;
}

/* line 340, ../sass/partials/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 350, ../sass/partials/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 363, ../sass/partials/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 377, ../sass/partials/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 387, ../sass/partials/_normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 400, ../sass/partials/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 410, ../sass/partials/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 424, ../sass/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 429, ../sass/partials/_normalize.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 438, ../sass/partials/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 447, ../sass/partials/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 458, ../sass/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
